header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}
.cabesalho{
    width: 20%;
    display: flex;
}
.entra {
    display: inline-block;
    margin: 0 10px;
}
body{
    background-color: rgb(255, 255, 255);
}
.todos1{
    text-align: center;
}
.ver{
width: 15% ;
text-align: center;

}
.ver1{
    width: 15%;
    text-align: center;
}
.ver2{
    width: 50%;
    text-align: center;
}
.todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
